<html>
  <body>
    <center>
      <h2>Welcome to Weather forecast Application</h2>
      <%= form_tag("/", method:"get") do %>
        <%= text_field_tag(:address, @location, :required => true, :placeholder => 'Enter Address to view Weather Forecast') %><br>
        <%= select_tag(:no, options_for_select(type_options, @num), :required => true, :placeholder => 'Select type') %><br>
        <%= submit_tag("Search") %> <%= link_to "Refresh", "/"%><hr>
      <% end %>
    </center>
    <div class="weather_information_index">
      <%= render 'info' %>
    </div>
  </body>
</html>